body {
  background-color: black;
    color: white;
}
:root {
  --used-space-main-color: rgb(255,150,0);

}

@keyframes loadBar {
  from {
    width: 0;
  }

  to {
    width: var(--max-width, 100%);
  }

}